@import "tailwindcss";

/* Paleta personalizada */
:root {
  --jasmine: #f4d06f;
  --ut-orange: #ff8811;
  --caf-noir: #573d1c;
  --floral-white: #fff8f0;
  --asparagus: #60935d;

  /* Variables globales */
  --background: var(--floral-white);
  --foreground: var(--caf-noir);
  --primary: var(--ut-orange);
  --accent: var(--jasmine);
  --success: var(--asparagus);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), 'system-ui', sans-serif;
  transition: background 0.3s, color 0.3s;
}
